.App {
	text-align: center;
	padding: 0 2rem;
	max-width: 1000px !important;
}

.App * {
	box-sizing: border-box;
}
.suggestions {
	position: absolute;
	top: 2.5rem;
	width: 100%;
	z-index: 100;
	align-self: center;
	box-shadow: 10px 10px 16px -12px rgba(0, 0, 0, 0.75);
}
.position-relative {
	position: relative;
}
.event {
	text-align: left;
  border: 1px solid #ccc;
}
.alert {
	position: absolute;
	top: 10px;
	left: 50%;
	transform: translateX(-50%);
	z-index: 1000;
	opacity: 0.9;
}
.logo {
	width: 100%;
	max-width: 400px;
}


.alerts-container {
	position: fixed;
	top: 0px;
	left: 20px;
	width: 250px;
	z-index: 1000;
}